#topSection {
  position: absolute;
  top: 0;
  width: 1920px;
}

#bottomSection {
  position: absolute;
  bottom: 0;
  width: 1920px;
}

.teamStars {
  transition: 500ms ease-in-out;
}
.teamStars .star {
  content: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3C!-- Created with Inkscape (http://www.inkscape.org/) --%3E%3Csvg width='250.00002' height='250.00002' viewBox='0 0 66.145837 66.145837' version='1.1' id='svg5' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:svg='http://www.w3.org/2000/svg'%3E%3Cdefs id='defs2' /%3E%3Cg id='layer1'%3E%3Cpath style='display:inline;fill:%23b38ddd;stroke:none;stroke-width:0.264583' d='M 35.007863,21.501747 C 32.358326,18.385194 31.711949,10.383109 27.070363,9.4825991 22.466983,8.5895245 19.86007,16.930382 18.253361,19.914247 c -1.941565,3.605742 -6.270228,4.995863 -7.870323,8.995834 -0.339195,0.84799 -0.4939237,1.734873 -0.5056977,2.645833 -0.1001448,7.748324 10.2943027,4.286515 14.5471887,2.645834 1.381655,5.78776 1.456267,12.088548 2.269067,17.991667 0.185738,1.348052 0.0079,5.193507 1.102254,6.078009 1.24513,1.006475 4.715669,-0.16219 4.736042,-1.855259 0.02963,-2.477558 -2.011891,-5.770827 -2.702719,-8.1915 C 28.450165,43.391786 28.417357,38.167058 26.80578,33.407998 32.226828,33.296079 39.177697,29.713091 36.859947,23.353831 l 4.497916,-0.264584 c 0,4.821238 -0.313531,9.798051 -1.170516,14.552084 -0.282575,1.567127 -1.36869,4.362715 -0.03757,5.669228 2.815431,2.764366 3.920067,-1.286405 4.159515,-3.287978 0.69215,-5.783791 0.752739,-11.637169 0.752739,-17.4625 0.965465,0 1.948657,0.05106 2.910417,-0.04524 6.91224,-0.691356 1.793346,-5.568421 1.13374,-9.479757 C 48.63708,10.251505 48.977864,3.011896 45.06203,2.5236074 43.09697,2.2786032 41.448086,4.3281716 40.694553,5.89133 c -1.366044,2.8338199 -1.308894,5.843508 -2.274888,8.73125 -0.81227,2.427791 -2.472795,4.496356 -3.411802,6.879167 m 1.322917,0.529167 c 0.447146,-2.506954 2.411677,-4.48646 3.25464,-6.879167 0.904875,-2.568654 0.761471,-5.3875783 1.861873,-7.9375002 0.550333,-1.2750007 1.656556,-3.4342654 3.349096,-3.2960735 1.452298,0.1185862 1.880923,1.8820078 2.147623,3.0314901 0.737129,3.1791016 0.497152,6.5100206 1.907646,9.5250006 0.447675,0.956839 2.290762,2.94468 1.490662,4.040822 -0.690298,0.94578 -2.685785,0.721413 -3.69279,0.721678 -3.472656,0.0013 -6.841596,0.79375 -10.31875,0.79375 M 26.01203,10.77366 c 1.488281,-0.343244 2.673879,1.136782 3.34645,2.26142 1.441185,2.409614 1.931987,5.272829 3.361531,7.672917 0.710935,1.194065 1.865842,1.867694 2.702454,2.93423 0.675746,0.861218 1.012296,2.326481 0.467255,3.341952 -0.738453,1.375833 -3.290624,1.054364 -4.586024,1.207558 -4.022196,0.47625 -7.856802,-0.0056 -11.377083,2.5146 -1.558449,1.115484 -3.113829,4.051565 -5.028116,4.3942 -3.696097,0.661194 -4.331388,-3.304646 -3.205612,-5.925873 1.359535,-3.165739 4.388115,-4.4704 6.506184,-6.925204 2.447078,-2.835804 3.692154,-10.525417 7.812961,-11.4758 M 43.739114,22.560081 42.68078,42.668415 c -2.369344,-0.07779 -1.75551,-1.897592 -1.475317,-3.704167 0.603515,-3.891227 1.049073,-7.713927 1.221053,-11.641667 0.06191,-1.409436 -0.201877,-4.259792 1.312598,-4.7625 m -9.260417,6.614583 -3.439584,2.116667 c 0.852488,-1.457325 1.800754,-1.903677 3.439584,-2.116667 m -3.968751,0.264584 c -0.42492,1.119981 -0.935831,2.017977 -2.116666,2.38125 0.417512,-1.222904 0.749035,-2.158736 2.116666,-2.38125 m -2.645833,0.264583 -1.322917,2.38125 -0.529166,-2.38125 h 1.852083 m -3.704167,0.529167 0.264583,2.38125 -2.116666,-1.852084 1.852083,-0.529166 m -1.322917,3.175 -2.910416,-1.058334 c 1.207002,-1.075266 2.135267,-0.02831 2.910416,1.058334 m -2.38125,0.79375 -2.910416,0.79375 1.058333,-1.852084 1.852083,1.058334 m 5.820834,1.852083 4.233333,18.785418 -2.116666,0.529166 -1.662113,-13.229167 -0.454554,-6.085417 m 5.027083,20.108334 -2.645833,1.322917 c 0.392642,-1.212585 1.455208,-1.498865 2.645833,-1.322917 z' id='path3038' /%3E%3C/g%3E%3C/svg%3E%0A");
  width: 50px;
  position: absolute;
  top: 5.5em;
}
.teamStars .star.starFill {
  content: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3C!-- Created with Inkscape (http://www.inkscape.org/) --%3E%3Csvg width='250.00002' height='250.00002' viewBox='0 0 66.145837 66.145837' version='1.1' id='svg5' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:svg='http://www.w3.org/2000/svg'%3E%3Cdefs id='defs2' /%3E%3Cg id='layer1'%3E%3Cpath style='display:inline;mix-blend-mode:normal;fill:%23bda3cd;fill-opacity:1;stroke:none;stroke-width:0.265;stroke-dasharray:none;stroke-opacity:1' d='m 36.33078,22.030914 c 0.447146,-2.506954 2.411677,-4.48646 3.25464,-6.879167 0.904875,-2.568654 0.761471,-5.3875783 1.861873,-7.9375002 0.550333,-1.2750007 1.656556,-3.4342654 3.349096,-3.2960735 1.452298,0.1185862 1.880923,1.8820078 2.147623,3.0314901 0.737129,3.1791016 0.497152,6.5100206 1.907646,9.5250006 0.447675,0.956839 2.290762,2.94468 1.490662,4.040822 -0.690298,0.94578 -2.685785,0.721413 -3.69279,0.721678 -3.472656,0.0013 -6.841596,0.79375 -10.31875,0.79375 M 26.01203,10.77366 c 1.488281,-0.343244 2.673879,1.136782 3.34645,2.26142 1.441185,2.409614 1.931987,5.272829 3.361531,7.672917 0.710935,1.194065 1.865842,1.867694 2.702454,2.93423 0.675746,0.861218 1.012296,2.326481 0.467255,3.341952 -0.738453,1.375833 -3.290624,1.054364 -4.586024,1.207558 -4.022196,0.47625 -7.856802,-0.0056 -11.377083,2.5146 -1.700186,1.563104 -3.246029,3.983952 -4.925551,4.386744 -2.931566,0.857783 -4.79853,-2.310413 -3.308177,-5.918417 1.359535,-3.165739 4.388115,-4.4704 6.506184,-6.925204 2.447078,-2.835804 3.692154,-10.525417 7.812961,-11.4758 M 43.739114,22.560081 42.68078,42.668415 c -2.369344,-0.07779 -1.75551,-1.897592 -1.475317,-3.704167 0.603515,-3.891227 1.049073,-7.713927 1.221053,-11.641667 0.06191,-1.409436 -0.201877,-4.259792 1.312598,-4.7625 m -9.260417,6.614583 -3.439584,2.116667 c 0.852488,-1.457325 1.800754,-1.903677 3.439584,-2.116667 m -3.968751,0.264584 c -0.42492,1.119981 -0.935831,2.017977 -2.116666,2.38125 0.417512,-1.222904 0.749035,-2.158736 2.116666,-2.38125 m -2.645833,0.264583 -1.322917,2.38125 -0.529166,-2.38125 h 1.852083 m -3.704167,0.529167 0.264583,2.38125 -2.116666,-1.852084 1.852083,-0.529166 m -1.322917,3.175 -2.910416,-1.058334 c 1.207002,-1.075266 2.135267,-0.02831 2.910416,1.058334 m -2.38125,0.79375 -2.910416,0.79375 1.058333,-1.852084 1.852083,1.058334 m 5.820834,1.852083 4.233333,18.785418 -2.116666,0.529166 -1.662113,-13.229167 -0.454554,-6.085417 m 5.027083,20.108334 -2.645833,1.322917 c 0.392642,-1.212585 1.455208,-1.498865 2.645833,-1.322917 z' id='path3985' /%3E%3Cpath style='display:inline;fill:%23b38ddd;stroke:none;stroke-width:0.264583' d='M 35.007863,21.501747 C 32.358326,18.385194 31.711949,10.383109 27.070363,9.4825991 22.466983,8.5895245 19.86007,16.930382 18.253361,19.914247 c -1.941565,3.605742 -6.270228,4.995863 -7.870323,8.995834 -0.339195,0.84799 -0.4939237,1.734873 -0.5056977,2.645833 -0.1001448,7.748324 10.2943027,4.286515 14.5471887,2.645834 1.381655,5.78776 1.456267,12.088548 2.269067,17.991667 0.185738,1.348052 0.0079,5.193507 1.102254,6.078009 1.24513,1.006475 4.715669,-0.16219 4.736042,-1.855259 0.02963,-2.477558 -2.011891,-5.770827 -2.702719,-8.1915 C 28.450165,43.391786 28.417357,38.167058 26.80578,33.407998 32.226828,33.296079 39.177697,29.713091 36.859947,23.353831 l 4.497916,-0.264584 c 0,4.821238 -0.313531,9.798051 -1.170516,14.552084 -0.282575,1.567127 -1.36869,4.362715 -0.03757,5.669228 2.815431,2.764366 3.920067,-1.286405 4.159515,-3.287978 0.69215,-5.783791 0.752739,-11.637169 0.752739,-17.4625 0.965465,0 1.948657,0.05106 2.910417,-0.04524 6.91224,-0.691356 1.793346,-5.568421 1.13374,-9.479757 C 48.63708,10.251505 48.977864,3.011896 45.06203,2.5236074 43.09697,2.2786032 41.448086,4.3281716 40.694553,5.89133 c -1.366044,2.8338199 -1.308894,5.843508 -2.274888,8.73125 -0.81227,2.427791 -2.472795,4.496356 -3.411802,6.879167 m 1.322917,0.529167 c 0.447146,-2.506954 2.411677,-4.48646 3.25464,-6.879167 0.904875,-2.568654 0.761471,-5.3875783 1.861873,-7.9375002 0.550333,-1.2750007 1.656556,-3.4342654 3.349096,-3.2960735 1.452298,0.1185862 1.880923,1.8820078 2.147623,3.0314901 0.737129,3.1791016 0.497152,6.5100206 1.907646,9.5250006 0.447675,0.956839 2.290762,2.94468 1.490662,4.040822 -0.690298,0.94578 -2.685785,0.721413 -3.69279,0.721678 -3.472656,0.0013 -6.841596,0.79375 -10.31875,0.79375 M 26.01203,10.77366 c 1.488281,-0.343244 2.673879,1.136782 3.34645,2.26142 1.441185,2.409614 1.931987,5.272829 3.361531,7.672917 0.710935,1.194065 1.865842,1.867694 2.702454,2.93423 0.675746,0.861218 1.012296,2.326481 0.467255,3.341952 -0.738453,1.375833 -3.290624,1.054364 -4.586024,1.207558 -4.022196,0.47625 -7.856802,-0.0056 -11.377083,2.5146 -1.558449,1.115484 -3.113829,4.051565 -5.028116,4.3942 -3.696097,0.661194 -4.331388,-3.304646 -3.205612,-5.925873 1.359535,-3.165739 4.388115,-4.4704 6.506184,-6.925204 2.447078,-2.835804 3.692154,-10.525417 7.812961,-11.4758 M 43.739114,22.560081 42.68078,42.668415 c -2.369344,-0.07779 -1.75551,-1.897592 -1.475317,-3.704167 0.603515,-3.891227 1.049073,-7.713927 1.221053,-11.641667 0.06191,-1.409436 -0.201877,-4.259792 1.312598,-4.7625 m -9.260417,6.614583 -3.439584,2.116667 c 0.852488,-1.457325 1.800754,-1.903677 3.439584,-2.116667 m -3.968751,0.264584 c -0.42492,1.119981 -0.935831,2.017977 -2.116666,2.38125 0.417512,-1.222904 0.749035,-2.158736 2.116666,-2.38125 m -2.645833,0.264583 -1.322917,2.38125 -0.529166,-2.38125 h 1.852083 m -3.704167,0.529167 0.264583,2.38125 -2.116666,-1.852084 1.852083,-0.529166 m -1.322917,3.175 -2.910416,-1.058334 c 1.207002,-1.075266 2.135267,-0.02831 2.910416,1.058334 m -2.38125,0.79375 -2.910416,0.79375 1.058333,-1.852084 1.852083,1.058334 m 5.820834,1.852083 4.233333,18.785418 -2.116666,0.529166 -1.662113,-13.229167 -0.454554,-6.085417 m 5.027083,20.108334 -2.645833,1.322917 c 0.392642,-1.212585 1.455208,-1.498865 2.645833,-1.322917 z' id='path3038' /%3E%3C/g%3E%3C/svg%3E%0A");
  transition: 0.5s ease-in-out;
}
.teamStars #teamRedStars {
  left: 50px;
}
.teamStars #teamBlueStars {
  right: 50px;
}

.teamName {
  position: absolute;
  top: 40px;
  height: 100%;
  font-size: 50px;
  font-family: "PASTI";
  font-weight: normal;
  font-style: normal;
  color: white;
  text-shadow: 0px 0px 10px black;
}
.teamName#teamRedName {
  left: 120px;
}
.teamName#teamBlueName {
  right: 120px;
}

.teamIcon {
  position: absolute;
  background-color: #666;
  border-radius: 15px;
  top: 10px;
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.teamIcon#teamRedIcon {
  left: 10px;
}
.teamIcon#teamBlueIcon {
  right: 10px;
}

#movingScoreBars {
  position: absolute;
  width: 1920px;
  bottom: 140px;
  height: 20px;
  transition: 0.5s ease-in-out;
}
#movingScoreBars .movingScoreBar {
  position: absolute;
  width: 960px;
  height: 20px;
  max-width: 50%;
  transition: width 0.07s;
}
#movingScoreBars .movingScoreBar#movingScoreBarRed {
  float: right;
  right: 50%;
  background-color: #ca3535;
  color: #ca3535;
}
#movingScoreBars .movingScoreBar#movingScoreBarBlue {
  float: left;
  left: 50%;
  background-color: #4545cf;
  color: #4545cf;
}

#playScores {
  position: absolute;
  width: 1920px;
  bottom: 920px;
  height: 12px;
  transition: 0.5s ease-in-out;
}
#playScores .playScore {
  position: absolute;
  font-family: "PASTI";
  transition: ease-in-out 500ms;
  font-size: 35px;
}
#playScores .playScore#playScoreRed {
  right: 970px;
  color: #ca3535;
}
#playScores .playScore#playScoreBlue {
  left: 970px;
  color: #4545cf;
}

/*# sourceMappingURL=gameplay.css.map */
