@font-face {
    font-family: 'The Meshroom';
    src: local('The Meshroom Regular'), local('TheMeshroom-Regular'),
        url('../fonts/TheMeshroom-Regular.woff2') format('woff2'),
        url('../fonts/TheMeshroom-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PASTI';
    src: local('PASTI Regular'), local('PASTI-Regular'),
        url('../fonts/PASTI-Regular.woff2') format('woff2'),
        url('../fonts/PASTI-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PASTI';
    src: local('PASTI Oblique'), local('PASTI-Oblique'),
        url('../fonts/PASTI-Oblique.woff2') format('woff2'),
        url('../fonts/PASTI-Oblique.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
